# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environment
venv/
env/

# Ignore data files
data/input.csv
data/output.csv

# Ignore logs
*.log

# Ignore Power BI files
*.pbix
*.pbit

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/